.cabecalho {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 2em;
}

.cabecalho__container {
  display: flex;
  align-items: center;
}

.cabecalho__menu-hamburguer {
  width: 40px;
  height: 40px;
  background-image: url("../img/Menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}

.container__rotulo:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
  background-image: url("../img/Menu\ Aberto.png");
}

.container__rotulo:checked ~ .container__rotulo {
  background: var(--azul);
}

.container__imagem {
  padding: 1em;
}

.lista__menu {
  display: none;
  top: 100%;
  position: absolute;
  width: 60vw;
}

.container__botao {
  display: none;
}

.container__botao:checked ~ .lista__menu {
  display: block;
}

.lista__menu-titulo,
.lista__menu-item {
  padding: 1em;
  background-color: var(--branco);
}

.lista__menu-titulo {
  color: var(--laranja);
  font-weight: 700;
  text-transform: uppercase;
}

.lista__menu-link {
  background: var(--azul);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundario);
    font-size: 30px;
    display: inline-block;
  }
  .container__titulo {
    font-weight: 400;
    margin-left: 0.5em;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 0 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    text-decoration: none;
    color: var(--preto);
  }

  .cabecalho__menu-hamburguer {
    display: none;
  }

  .container__imagem--transparente {
    display: none;
  }

  .opcoes__botao:checked ~ .lista__menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
    background: var(--azul);
    color: var(--branco);
  }

  .opcoes__item {
    padding: 2em 1em;
  }

  .lista__menu-item:hover {
    background: var(--azul);
  }
  .lista__menu-item:hover > .lista__menu-link {
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }
}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }

  .container__texto {
    display: block;
  }

  .opcoes {
    margin-right: auto;
  }
}
